<% content_for :header do %>
	<% javascript_include_tag 'tickets' %>
<% end %>
<%= render 'tickets_header' %>
<table class="table table-striped table-hover table-bordered table-responsive">
	<thead>
		<tr>
			<th><%= check_box("check_all","tickets",{class:"checkall_tickets"}) %></th>
			<th> Sno </th>
			<th> Title </th>
			<th> Description </th>
			<th> Assigned To </th>
			<th> Status </th>
			<th> Priority </th>
			<th> Created Date </th>
		</tr>
	</thead>
	<tbody>	
		<%
			count = ((params[:page] || 1).to_i - 1) * @tickets_per_page
			@tickets.each.with_index(1) do |ticket,i|
		%>
			<tr>
				<td class="col-md-1"> <%= check_box(:ticket,ticket.id,{class:"check_ticket"},ticket.id)  %> </td>
				<td class="col-md-1"> <%= count + i %> </td>
				<td class="col-md-2"> <%= ticket.title %> </td>
				<td class="col-md-4"> <%= ticket.description %> </td>
				<td class="col-md-1"> <%= ticket.assigned_user.name if ticket.assigned_to != 0 %> </td>
				<td class="col-md-1" id="ticket_status_display"> <%= ticket_status_text.key(ticket.status) %> </td>
				<td class="col-md-1"> <%= ticket.priority %> </td>
				<td class="col-md-2"> <%= ticket.created_at.strftime('%Y-%m-%d') %> </td>
			</tr>	
		<% 
		end
		%>
	</tbody>
</table>
